div(id='main_holder',class='main_holder') 
    <layers-holder id='main_layer_holder' in_show='home' class='center'>
        <div class='center home' layer_id='home' display='flex'>
            
        </div>
        <div class='center history' layer_id='history' display='flex'></div>
        <div class='center account' layer_id='account' display='flex'></div>
    </layers-holder>