meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
<title>Grafeeky</title>
<link rel="icon" type="image/png" href="/home/icons/logo3.png" />
<meta name="google-signin-client_id" content="530638225218-0bn200lkl8nqoionnv6ns2og60calf43.apps.googleusercontent.com">

