<script src="https://accounts.google.com/gsi/client" async defer></script>
script(src='/home/componant/left.js')
script(src='/home/componant/right.js')
script(src='/home/componant/top.js')
script(src='/home/componant/bottom.js')
script(src='/home/componant/c-icon.js')
script(src='/home/componant/loading_wheel.js')
script(src='/home/componant/switsh_bt.js')
script(src='/home/componant/info_line.js')
script(src='/home/componant/selectable_info_line.js')
script(src='/home/componant/url_info_holder.js')
script(src='/home/componant/layers_naving.js')
script(src='/home/componant/pop_up.js')
script(src='/home/componant/search_par.js')
script(src='/home/componant/subscrip_plan.js')
script(src='/home/componant/icons_slider.js')
script(src='/home/componant/price_line.js')
script(src='/home/componant/price_list_category.js')
script(src='/home/componant/sign_in_part.js')
script(src='/home/componant/sign_up_part.js')
script(src='/home/componant/forget_password_part.js')
script(src='/home/componant/reseat_password_part.js')
script(src='/home/componant/Allert_with_feedback.js')
script(src='/home/componant/Allert_without_feedback.js')
script(src='/home/componant/home_part.js')
script(src='/home/componant/in_out_slider.js')
script(src='/home/componant/home_part_authed.js')
script(src='/home/js/manager_main_layout.js')


