link(rel="stylesheet", href="home/styles/main_layout.css")
link(rel="stylesheet", href="home/styles/info_line.css")
link(rel="stylesheet", href="home/styles/search_par.css")
link(rel="stylesheet", href="home/styles/subscrip-plan.css")
link(rel="stylesheet", href="home/styles/icons_slider.css")
link(rel="stylesheet", href="home/styles/price_line.css")
link(rel="stylesheet", href="home/styles/price_list_category.css")
link(rel="stylesheet", href="home/styles/sign_up_part.css")
link(rel="stylesheet", href="home/styles/sign_in_part.css")
link(rel="stylesheet", href="home/styles/home_part.css")
link(rel="stylesheet", href="home/styles/home_part_authed.css")
link(rel="stylesheet", href="home/styles/select_line.css")
link(rel="stylesheet", href="home/styles/in_out_slider.css")
link(rel="stylesheet", href="home/styles/globel.css")