link(rel="stylesheet", href="/home/styles/main_layout.css")
link(rel="stylesheet", href="/home/styles/info_line.css")
link(rel="stylesheet", href="/home/styles/loading_wheel.css")
link(rel="stylesheet", href="/home/styles/selectable_info_line.css")
link(rel="stylesheet", href="/home/styles/url_info_holder.css")
link(rel="stylesheet", href="/home/styles/search_par.css")
link(rel="stylesheet", href="/home/styles/subscrip-plan.css")
link(rel="stylesheet", href="/home/styles/icons_slider.css")
link(rel="stylesheet", href="/home/styles/price_line.css")
link(rel="stylesheet", href="/home/styles/price_list_category.css")
link(rel="stylesheet", href="/home/styles/sign_up_part.css")
link(rel="stylesheet", href="/home/styles/sign_in_part.css")
link(rel="stylesheet", href="/home/styles/forget_password_part.css")
link(rel="stylesheet", href="/home/styles/reseat_password_part.css")
link(rel="stylesheet", href="/home/styles/home_part.css")
link(rel="stylesheet", href="/home/styles/home_part_authed.css")
link(rel="stylesheet", href="/home/styles/Allert_with_feedback.css")
link(rel="stylesheet", href="/home/styles/Allert_without_feedback.css")
link(rel="stylesheet", href="/home/styles/select_line.css")
link(rel="stylesheet", href="/home/styles/in_out_slider.css")
link(rel="stylesheet", href="/home/styles/globel.css")